.banner {
    background: var(--blue-gradiente);
    color: var(--white);
    text-align: center;
    padding: 2.5em 2em;
}

.banner__title {
    font-size: var(--font-size-7);
    font-weight: var(--font-weight-bold);
}

.banner__text {
    font-weight: var(--font-weight-medium);
    margin: 1em 0 1.5em 0;
}

.banner__search {
    background-color: transparent;
    border: var(--white) solid 1px;
    color: var(--white);
    border-radius: 60px;
    padding: 0.8em;
    width: 100%;
}

.banner__search::placeholder {
    display: flex;
    justify-content: center;
    color: var(--white);
    font-family: var(--font-main);
    font-size: var(--font-size-9);
    font-weight: var(--font-weight-regular);
    text-align: center;
    color: var(--white);
    background: url("../img/Pesquisa.svg") no-repeat;
    background-position: 0.5em;
}

.banner__search:focus, .banner__search:focus-visible {
    border-color: var(--orange);
}

/* Layout =<400px  */
@media screen and (max-width: 400px) {
    .banner__search::placeholder {
        background: none;
    }
}

/* Layout 1024px  */
@media screen and (min-width: 1024px) {
    .banner__title {
        font-size: var(--font-size-1);
    }

    .banner__search {
        width: 50%;
        font-size: var(--font-size-8);
    }

    .banner__search::placeholder {
        font-size: var(--font-size-8);
    }
}

/* Layout 1728px  */
@media screen and (min-width: 1728px) {
    .banner {
        padding: 6em 0;
    }

    .banner__search {
        width: 36%;
    }
}