hr {
    margin: 0;
}

.footer {
    background-color: var(--white);
    padding: 1em;
}

.footer__list {
    display: none;
}

@media screen and (min-width: 1024px) {
    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 3em 0;
        
    }

    .footer__title {
        font-size: var(--font-size-5);
        margin-bottom: 1em;
    }

    .footer__list-title {
        font-size: var(--font-size-9);
        color: var(--gray-500);
        text-transform: uppercase;
    }

    .footer__list {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    .footer__list-item {
        display: flex;
        align-items: center;
        gap: 0.5em;
    }

    .footer__list-link {
        color: var(--gray-700)
    }
}